<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Read</title>

        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!--재활용-->
        <div id="nav">
			<%@ include file="../include/nav.jsp"%>
		</div>

        <div id="wrapper">
            <div id="container">
                <div class="side-menu">
                    <p class="main-title">선택메뉴</p>
                    <ul class="category">
                        <li>
                            <a class="" href="#">
                                메뉴1
                            </a>
                        </li>
                        <li>
                            <a class="" href=" #">
                                메뉴2
                            </a>
                        </li>
                    </ul>
                    <div class="search">
                        <input type="text" class="submit" placeholder="검색어를 입력하세요.">
                        <a href="#">검색</a>
                    </div>

                    <div class="write">
                        <a href="#">글쓰기</a>
                    </div>
                </div>

                <div class="board-list">
                    <h2 id="container_title">선택된 카테고리</span></h2>
                <span class="path">홈 > 선택메뉴 > 세부선택메뉴</span>
                <!-- 게시물 읽기 시작 { -->
                <div class="tbl_frm01 tbl_wrap">
                    <table>
                        <tbody>
                            <tr>
                                <th scope="row">제목</th>
                                <td colspan="5">[공지]공지입니다.</td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td>
                                    <span class="writer">이재근</span></td>
                                <th>작성일</th>
                                <td>20-08-28 22:34</td>
                                <th>조회수</th>
                                <td>979</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="td-content">
                                    <div id="board-content">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/>
                                                공지입니다.<br/></span></p>
                                    </div>
                                </td>
                            </tr>

                            <tr class="td-comment">
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                첫번째 댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>

                                    </div>
                                </td>
                            </tr>
                            <tr class="td-comment">
                                <td>
                                    <p>└</p>
                                </td>
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                첫번째 대댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="td-comment">
                                <td>
                                    <p>└</p>
                                </td>
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                두번째 대댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>
                                    </div>
                                </td>
                            </tr>
                            <!--임시-->
                            <tr class="td-comment">
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                두번째 댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="td-comment">
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                세번째 댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="td-comment">
                                <td >
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px; font-weight: bold;">
                                                이재근</span></p>
                                    </div>
                                </td>
                                <td colspan="3">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                네번째 댓글입니다.</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                08-28 23:00</span></p>
                                    </div>
                                </td>
                                <td colspan="">
                                    <div class="comment-list">
                                        <a href="#">댓글</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">수정</a>
                                        <p>
                                            <span
                                                style="background-color:rgb(255,255,255);color:rgb(28,30,33);font-size:14px;">
                                                |</span></p>
                                        <a href="#">삭제</a>
                                    </div>
                                </td>
                            </tr>
                            <!--임시-->
                        </tbody>
                    </table>
                    <div id="comment">
                        <textarea cols="40" rows="3" placeholder="댓글을 입력하세요"></textarea>
                        <div id="commit">
                            <a href="#">댓글 작성</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>